# used to remove files from deployment using `git archive`

# git files
.gitattributes export-ignore
.gitignore export-ignore

# Webstorm
.idea export-ignore

# configuration
/package.json export-ignore
/bower.json export-ignore
.jshintrc export-ignore
.env

# scripts
ContinuousIntegration export-ignore
deploy.sh export-ignore
package.sh export-ignore

# test
test export-ignore