extends layout

block content
    form(role=form)#create-news-article
        div.form-group
            label(for="title") Title
            input#title.form-control(placeholder="Enter Title")
        div.form-group
            label(for="labels") Labels
            input#labels.form-control(placeholder="Labels")
        div.form-group
            label(for="news-content-editor") Content
            div#news-content-editor
        div.form-group
            button(type=submit).btn.btn-success.pull-right Save
    script(src="/news/javascripts/createNewsArticle.js",type="text/javascript")
