doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/news/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/news/bower_components/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css')
    link(rel='stylesheet', href='/news/bower_components/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css')
    link(rel='stylesheet', href='/news/bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css')
    link(rel='stylesheet', href='/news/stylesheets/linnstrap.css')
    link(rel='stylesheet', href='/news/stylesheets/kaboom.css')
    link(rel='stylesheet', href='/news/stylesheets/news.css')
    script(src='/news/bower_components/jquery/dist/jquery.min.js')
    script(src='/news/bower_components/ace-builds/src-min/ace.js')
    script(src='/news/bower_components/bootstrap-markdown-editor/dist/js/bootstrap-markdown-editor.js')
    script(src='/news/bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js')
    script(src='/news/bower_components/typeahead.js/dist/bloodhound.js')
    script(src='/news/bower_components/typeahead.js/dist/typeahead.bundle.js')
    script(src="/news/javascripts/kaboom.js",type="text/javascript",data-root="")
  body
    div.container.ticker-container
      block content
    script(src='/news/bower_components/bootstrap/dist/js/bootstrap.min.js')
