extends layout

block content
    article
        h1= title
        div.clearfix
            each label in labels
                div.pull-left
                    span.label.label-info=label
                    | &nbsp;
            div.pull-right
                span(title=date)= prettyDate
        div!= md(content)